flask==3.0.2
gunicorn==21.2.0
flask-cors==4.0.0

pydantic==1.10.12
typing_extensions==4.12.2
PyYAML==6.0.2

numpy==2.1.0
pyerfa==2.0.1

skyfield==1.48
jplephem==2.22
tzdata==2024.1

prometheus-client==0.20.0
